* {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}

#header {
  font-size: 50px;
}

.link {
  font-size: 16px;
  color: aquamarine;
}

video {
  object-fit: contain;
}

#middle {
  font-size: 42px;
  font-weight: 300;
}

.type {
  color: gray;
  font-size: 21px;
}
